.heroContainer {
  width: 100%;
  padding: 0;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroContainer header {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #444444;
}
.heroContainer header:hover {
  cursor: default;
}
.heroContainer header h1 {
  color: #114a25;
  transition: ease-in-out 0.2s all;
}
.heroContainer header h1:hover {
  transform: scale(1.02);
}
.heroContainer header h1 strong:nth-child(1) {
  color: #FA9156;
}
.heroContainer header h1 strong:nth-child(2) {
  color: #E85401;
}
.heroContainer header h3 {
  width: 70%;
  text-align: center;
}
.heroContainer header h3 strong:nth-child(1) {
  color: #FA9156;
}
.heroContainer header h3 strong:nth-child(3) {
  color: #40875b;
}
.heroContainer .ctaBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.heroContainer .ilContainer {
  width: 100vw;
  background: #fdfdfd;
  background: linear-gradient(0deg, #FA9156 50%, #fdfdfd 50%);
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.heroContainer .ilContainer .features {
  display: flex;
  gap: 5vw;
  color: #444444;
  width: 100%;
  justify-content: center;
}
.heroContainer .ilContainer .features li {
  color: #114a25;
  transition: ease-in-out 0.2s all;
}
.heroContainer .ilContainer .features li:hover {
  transform: scale(1.02);
  cursor: default;
  color: #3a8255;
  text-decoration: underline #FA9156;
}
.heroContainer .ilContainer .picture {
  border-radius: 8px;
  z-index: 5;
  width: 50vw;
  height: 32vw;
}
@media (max-width: 600px) {
  .heroContainer {
    padding: 3rem 8rem;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
  }
  .heroContainer header {
    min-width: 100vw;
    padding: 0 2rem;
  }
  .heroContainer header h1 {
    font-size: 48px;
  }
  .heroContainer header h1 h3 {
    font-size: 16px;
  }
  .heroContainer header h1 h3 span {
    font-size: 16px;
  }
  .heroContainer header h1 h3 .ctaBtns {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .heroContainer header h1 h3 h3 {
    gap: 0.5rem;
  }
  .heroContainer .ilContainer, .heroContainer .features, .heroContainer .picture {
    display: none;
    visibility: hidden;
    max-width: 0;
    max-height: 0;
  }
}
@media (max-width: 768px) {
  .heroContainer {
    height: 100vh;
    padding: 0;
  }
  .heroContainer .ilContainer, .heroContainer .feature, .heroContainer .picture {
    display: none;
    visibility: none;
    max-width: 0;
    max-height: 0;
  }
}

.services {
  background-color: #FA9156;
  color: #fdfdfd;
}
.services hgroup h3 {
  color: #40875b;
}
.services hgroup p {
  width: 80%;
}
.services .services_container {
  display: flex;
  flex-flow: row wrap;
  padding: 56px;
  gap: 56px;
  background: #F2F2F2;
  color: #222222;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
}
.services .services_container aside {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
}
.services .services_container aside h3 {
  color: #40875b;
}
.services .services_container aside p {
  color: #444444;
}
.services .services_container hr {
  border: none;
  border-top: 1px solid #BEBEBE;
  border-left: 1px solid #BEBEBE;
}
@media screen and (max-width: 768px) {
  .services hgroup {
    display: none;
    visibility: hidden;
    max-width: 0;
    max-height: 0;
  }
  .services .services_container {
    background-color: #FA9156;
    padding: 0;
    flex-direction: column;
    gap: 2rem;
    box-shadow: none;
  }
  .services .services_container aside p {
    color: #fdfdfd;
  }
  .services .services_container hr {
    border-color: #fdfdfd;
  }
}
@media screen and (max-width: 1024px) {
  .services .services_container {
    flex-direction: column;
  }
}

.habilidades {
  color: #444444;
}
.habilidades h2 {
  color: #FA9156;
}
.habilidades hgroup h3 {
  color: #40875b;
}

.repositorios {
  background-color: #FA9156;
  color: #fdfdfd;
}
.repositorios .repositorios_container {
  width: 100%;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
}
.repositorios .repositorios_container .cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px;
  gap: 40px;
  background-color: #fdfdfd;
}
.repositorios .repositorios_container .cardsContainer .cardsContainer_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #40875b;
}
.repositorios .repositorios_container .cardsContainer .cardsContainer_title h3 {
  width: 100%;
  padding-bottom: 1rem;
}
.repositorios .repositorios_container .cardsContainer .cardsContainer_title p {
  line-height: 120%;
  width: 80%;
  color: #444444;
}
.repositorios .repositorios_container .cardsContainer .projDest {
  color: #FA9156;
}
.repositorios .repositorios_container .cardsContainer a {
  margin: 0 auto;
  color: #40875b;
}
@media screen and (max-width: 768px) {
  .repositorios .repositorios_container {
    padding: 0;
    box-shadow: none;
  }
  .repositorios .repositorios_container .cardsContainer {
    background-color: #FA9156;
    padding: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .repositorios .repositorios_container .cardsContainer header {
    color: #fdfdfd;
  }
  .repositorios .repositorios_container .cardsContainer header p {
    display: none;
    visibility: hidden;
  }
  .repositorios .repositorios_container .cardsContainer .projDest {
    color: #fdfdfd;
  }
}
@media screen and (max-width: 1024px) {
  .repositorios .repositorios_container .cardsContainer .cardsContainer_title p {
    display: none;
    visibility: hidden;
    max-width: 0;
    max-height: 0;
  }
}

.contato {
  background-color: #444444;
  color: #fdfdfd;
}
.contato header {
  width: 100%;
}
.contato .contato_container {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.contato .contato_container hgroup {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contato .contato_container hgroup h3 {
  color: #FA9156;
}
.contato .contato_container .instrucoesArea {
  width: 100%;
  flex: 0 0 calc(50% - 4rem);
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
}
.contato .contato_container .instrucoesArea .ins h3 {
  color: #FA9156;
}
.contato .contato_container .instrucoesArea .btnArea {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: auto;
}
.contato .contato_container .instrucoesArea .btnArea p {
  width: 100%;
  text-align: center;
}
.contato .contato_container .instrucoesArea .btnArea a {
  min-width: 5rem;
  min-height: 5rem;
  font-size: 4rem;
  color: #BEBEBE;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  transition: ease-in-out 0.2s all;
}
.contato .contato_container .instrucoesArea .btnArea a:hover {
  color: #fdfdfd;
}
.contato .contato_container .instrucoesArea .btnArea a:active {
  color: #E85401;
}
.contato .contato_container .instrucoesArea .btnArea a i {
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 768px) {
  .contato .contato .contato_container {
    padding: 0;
    flex-direction: column;
  }
  .contato .contato .contato_container .instrucoesArea {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .contato .contato_container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1440px) {
  .contato .contato .contato_container {
    flex-direction: column;
  }
}

.sobre {
  background: #222222;
  color: #fdfdfd;
}
.sobre .sobre_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 4rem;
}
.sobre .sobre_container .textsArea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vw;
}
.sobre .sobre_container .textsArea h3 {
  color: #FA9156;
  width: 100%;
}
.sobre .sobre_container .textsArea .texts {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: calc(50% - 1vw);
}
.sobre .sobre_container .textsArea .profilePic {
  height: 16vw;
  width: 16vw;
  border-radius: 50%;
  border: 2px solid #BEBEBE;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}
.sobre .sobre_container .textsArea .profilePic:hover {
  transition: ease-in-out 0.2s all;
  border-color: #fdfdfd;
}
@media screen and (max-width: 768px) {
  .sobre .sobre_container .textsArea .profilePic {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.sobre .sobre_container .btnArea {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.sobre .sobre_container .btnArea a {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .sobre .sobre_container {
    gap: 2rem;
    flex-direction: column;
  }
  .sobre .sobre_container .textsArea {
    flex-direction: column;
  }
  .sobre .sobre_container .textsArea .texts {
    width: 100%;
  }
  .sobre .sobre_container .textsArea .texts p {
    width: 100%;
  }
  .sobre .sobre_container .btnArea {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  .sobre .sobre_container .btnArea a {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .sobre .sobre_container {
    flex-direction: column;
  }
  .sobre .sobre_container .textsArea {
    flex-direction: column;
    align-items: center;
  }
  .sobre .sobre_container .textsArea .texts {
    width: 100%;
  }
  .sobre .sobre_container .textsArea .profilePic {
    order: -1;
  }
}
@media screen and (max-width: 1024px) {
  .sobre .sobre_container {
    flex-direction: column;
  }
  .sobre .sobre_container .textsArea {
    width: 100%;
  }
  .sobre .sobre_container .pictureArea {
    order: -1;
  }
  .sobre .sobre_container .btnArea {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.module.css.map */
