@import url("/fonts/*.ttf");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Jost;
  list-style: none;
  font-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background: #f9f9f9;
  overflow-x: hidden;
}
@media screen and (max-width: 425px) {
  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
  }
}

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0.6rem 5%;
  background-color: white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: ease-in-out 0.2s all;
}
nav:hover {
  transform: scale(1.02);
}
nav:hover li {
  cursor: pointer;
  color: #b8d2c2;
}
nav h3 {
  color: #E85401;
  transition: ease-in-out 0.2s all;
}
nav h3 a:nth-child(1) {
  color: #2d5a3f;
}
nav h3 a:nth-child(2) {
  color: #FA9156;
}
nav h3:hover {
  cursor: pointer;
  transform: scale(1.02);
}
nav h3:hover:active {
  transform: scale(1.01);
}
nav ul {
  display: flex;
  gap: 4rem;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  align-content: center;
  justify-content: flex-end;
}
nav ul li {
  vertical-align: middle;
  display: flex;
  align-items: center;
  color: #BEBEBE;
}
nav ul li a {
  transition: ease-in-out 0.2s all;
}
nav ul li a:hover {
  transform: scale(1.01);
  color: #32774d;
  text-decoration: underline #FA9156;
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  nav {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

main {
  width: 100%;
}
@media screen and (max-width: 425px) {
  main {
    margin: 0;
    width: 100vw;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  padding: 8rem 24rem;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 425px) {
  section {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
}
@media screen {
  section header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  section header hgroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  section header h3 {
    width: 60%;
  }
}

footer {
  background-color: #0D0D0D;
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 90px 240px;
  gap: 80px;
}
footer h3 a {
  color: #BEBEBE;
  transition: ease-in-out 0.2s all;
}
footer h3 a:hover {
  color: #F5D6C4;
  font-size: 105%;
}
footer h3 a:active {
  color: #FA9156;
}
footer div {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
footer div a {
  box-sizing: border-box;
  font-size: 2rem;
  transition: ease-in-out 0.2s all;
  text-align: center;
  vertical-align: middle;
}
footer div a:hover {
  color: #F5D6C4;
  transform: scale(1.02);
}
footer div a:active {
  color: #FA9156;
}
@media screen and (max-width: 425px) {
  footer {
    max-width: 100vw;
    padding: 2rem 1rem;
    gap: 0;
  }
  footer div a i {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  width: 100%;
  text-align: center;
}

h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  transition: ease-in-out 0.2s all;
}
h2:hover {
  cursor: default;
  text-decoration: underline #668F76;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 40px;
  }
}

h3, .h3L {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.h3M {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.h3S {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

@media screen and (max-width: 425px) {
  h3, .h3L, .h3M, .h3S {
    font-size: 16px;
  }
}

.pL {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.pM {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.pS {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 425px) {
  .pL, .pM, .pS, p {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  font-style: none;
  color: unset;
}

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 4rem;
  color: #f9f9f9;
  background-color: #2B5B3E;
  border-radius: 0.5rem;
  transition: ease-in-out 0.2s all;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 425px) {
  .primaryButton {
    width: max-content;
    font-size: 16px;
  }
}
.primaryButton:hover {
  background-color: #32774d;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.primaryButton:active {
  background-color: #2d5a3f;
  transform: scale(1.01);
}

.tertiaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #444444;
  transition: ease-in-out 0.2s all;
}
.tertiaryButton i {
  font-size: 120%;
}
.tertiaryButton:hover {
  transform: scale(1.02);
  color: #FA9156;
}
.tertiaryButton:hover p {
  cursor: pointer;
  color: #FA9156;
  text-decoration: underline #668F76;
}
.tertiaryButton:hover i {
  color: #32774d;
}
@media screen and (max-width: 425px) {
  .tertiaryButton {
    width: max-content;
    font-size: 16px;
  }
}

/*# sourceMappingURL=globals.css.map */
