@import '../mixins'
.section
    color: $gray500

    .container
        display: flex
        flex-direction: column
        gap: 2.5rem
    h2
        color: $orange600

    hgroup

        h3
            color: $green900
        p
            width: 60%

    .cardsArea
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-between
        gap: 10%

        .card
            max-width: calc( 100vw/3 - 30%)

            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 1rem
            padding-bottom: 3rem

            header
                display: flex
                flex-direction: row
                align-items: flex-start
                gap: .8rem
                width: 100%
                .logoIcon
                    border-radius: .5rem
                    transition: $transition2ms

                    &:hover
                        cursor: default
                        transform: scale(1.03)
                        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3))

                span
                    width: 56px
                    height: 56px
                    border-radius: 50%
                    background: $gray500

            p
                width: 100%
                &:nth-child(2)
                    color: $orange600

    @media only screen and (max-width: 600px)
        padding: 4rem 2rem

        hgroup
            display: none
            visibility: hidden
            width: 0
            height: 0
        .cardsArea
            flex-direction: column
            width: 100%
            padding: 0
            gap: 3rem
            .card
                padding: 0
                min-width: 100%
