@import '../mixins'
.section
    background-color: $orange600
    color: $gray100
    gap: 4rem

    header
        display: flex
        flex-direction: column
        gap: 4rem
        h3
            color: $green800
        p
            width: 60%

    .container
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        padding: 56px
        gap: 56px
        width: 100%

        background: #F2F2F2
        color: $gray700
        @include pShadow

        .columnS
            flex: 0 0 calc( 100% / 2 - 10%)
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            gap: 2rem
            height: 100%

            h3
                color: $green700

            p
                color: $gray500

        span
            width: 1px
            min-height: 100%
            background-color: $gray300

    @media screen and ( max-width: 425px )
        padding: 4rem 2rem
        gap: 2rem
        h2
        header

            display: none
            visibility: hidden
            max-width: 0
            max-height: 0

        .container
            background-color: $orange600
            padding: 0
            flex-direction: column
            gap: 2rem
            box-shadow: none
            span
                height: 1px
                width: 100%
                background-color: $gray100

            .columnS
                p
                    color: $gray100
